<h3>Hello World</h3>
<h3>Welcome to Register System</h3>

<form action='.' method='post'>
     {% csrf_token %}
    <label for="username">Логин:</label>
    <input type="text" name="username" value="" id="username">
    <br/>
    <label for="password">Пароль:</label>
    <input type="password" name="password" value="" id="password">
    <br/>
    <label for="email">Email: </label>
    <input type="email" name="email" value ="" id="email">
    <br/>
    <input type="submit" value="register" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>



